.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 7rem auto;
  grid-template-areas: 
    "controls header"
    "controls display";
}

.Title {
  grid-area: header;
  text-align: left;
  padding-left: 12rem;
}

.Controls {
  grid-area: controls;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FDF5E6 ;
  font-family: "Lato", sans-serif;
  font-size: 19px;
  color: #303030;
  padding-top: 1rem;
  position: sticky; 
  top: 0; 
  height: 100vh;
  box-sizing: border-box;
}

.section {
  text-align: left;
  width: 90%; /* Make .section elements full width of .Controls */
  padding-bottom: 70px;
  /* Add top and bottom margin if needed */
}

h3 {
  border-bottom: 0.15rem solid #303030;
}

.FileName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  padding-bottom: 7px;
  font-size: 15px;
}

.buttonAction {
  border: 0.15rem solid transparent;
  padding: 5px;
  display: flex;
  justify-content: baseline;
}

.symbol {
  width: 20px;
  padding-right: 10px;
}

.arrow {
  border: 0.15rem solid transparent;
  padding: 5px;
}

.buttonAction:hover {
  border: 0.15rem solid gray;
  background-color: lightgray;
  cursor: pointer;
}

label.buttonAction {
  width: 96%;
  display: flex;
}

.Display {
  grid-area: display;
  text-align: left;
}

.Tutorial {
  font-size: 15px;
  text-align: left;
}

audio {
  width: 100%;
}