.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "empty header"
    "controls display";
}

.Title {
  grid-area: header;
  text-align: left;
}

.Controls {
  grid-area: controls;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.Display {
  grid-area: display;
  white-space: pre-line;
  text-align: left;
}