.SpeakersBox {
    display: flex;
    justify-content: flex-end;
    width: 20rem;
}

.RemoveSpeaker {
    width: 1.5rem;
    border: 0.15rem solid transparent;;
    color: red;
}

.RemoveSpeaker:hover {
    border: 0.15rem solid gray;
    background-color: lightgray;
}

.ReallyRemoveSpeaker {
    width: 1.5rem;
    border: 0.15rem solid transparent;
    background-color: red;
    color: white;
}

.ReallyRemoveSpeaker:hover {
    border: 0.15rem solid gray;
}

.Confirm {
    width: 1.5rem;
    border: 0.15rem solid transparent;
}

.Confirm:hover {
    border: 0.15rem solid gray;
    background-color: lightgray;
}
.Editing {
    width: 3rem;
    display: flex;
}

.Edit {
    width: 3rem;
    border: 0.15rem solid transparent;
}

.Edit:hover {
    border: 0.15rem solid gray;
    background-color: lightgray;
}